@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fff;
  --text-color: #111;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: none;
}

@media (max-width: 768px) {
  body {
    cursor: pointer;
  }
}

@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

.text-rainbow {
  animation: rainbow 5s linear infinite;
}
